body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    --s: 200px; /* control the size*/
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    background:
        repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%)
         calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
        repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
    background-size: var(--s) calc(var(--s)*tan(30deg));
    color: #ebcaf6;
    line-height: 1.6;
}


.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

button {
    padding: 10px;
    background-color: #5bdd61;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

button:hover {
    background-color: #098839;
}

a {
    color: #5bdd61;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 20px 0;
}

.success {
    color: green;
}

.danger {
    color: red;
}

.warning {
    color: orange;
}
