<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Notes</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>User Information</h1>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Secret:</strong> {{ user.note }}</p>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('home') }}">Back to Home</a>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
